.accordion {
    margin-bottom: 10px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.accordion-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-accordion-content {
    padding: 10px;
}

.contentLink {
    text-decoration: none;
    color: white;
}

.accordion-icon {
    transition: transform 0.3s ease;
}

.accordion-icon.open {
    transform: rotate(180deg);
}