.card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.card>img {
    width: 300px;
    height: 300px;
}

.prod-desc {
    width: 100%;
    font-size: 14px;
    line-height: 16.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    color: gray;
}

.s-titleBox {
    display: none;
    margin-top: 4px;
}

.b-titleBox {
    display: block;
    margin-top: 10px;
    padding-right: 10px;
}

.s-descBox {
    display: none;
}

.b-descBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.favouriteClass {

    color: #c92b2b;
}

.cardHeart {
    background: transparent;
    border: none;
    font-size: 19px;
}

@media screen and (max-width:1430px) {
    .card {
        width: 200px;
        height: 340px;
    }

    .card>img {
        width: 200px;
        height: 280px;
    }

}

@media screen and (max-width:1020px) {
    .card {
        width: 170px;
        height: 300px;
    }

    .card>img {
        width: 100%;
        height: 240px;
    }

}

@media screen and (max-width:647px) {
    .card {
        width: 150px;
        height: 270px;
    }

    .card>img {
        width: 100%;
        height: 230px;
    }

}

@media screen and (max-width:558px) {
    .card {
        width: 130px;
        height: 240px;
    }

    .card>img {
        width: 100%;
        height: 200px;
    }

}

@media screen and (max-width:480px) {

    .card>img {
        width: 168px;
        height: 224px;
    }

    .card {
        width: 168px;
        height: 277px;
    }

    .title {
        font-size: 15px;

    }

    .b-titleBox {
        display: none;
        margin-top: 0px;
    }

    .s-titleBox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
    }

    .s-titleBox button {
        background: transparent;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9px;
    }

    .b-descBox {
        display: none;
    }

    .s-descBox {
        display: block;
    }
}