.accordion {
    margin-bottom: 10px;
}

.accordion-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.accordion-titleBox {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

.accordion-titleBox button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}

.accordion-content {
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* align-items: center; */
}

.accordion-icon {
    transition: transform 0.3s ease;
}

.accordion-icon.open {
    transform: rotate(180deg);
}